<div class="container">
    <h2>Home Page</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        tempor incididunt ut labore et dolore magna aliqua. Cum sociis natoque 
        penatibus et magnis. Rhoncus mattis rhoncus urna neque. Etiam tempor 
        orci eu lobortis. Rhoncus urna neque viverra justo nec. Nibh praesent 
        tristique magna sit amet purus gravida quis blandit. Pellentesque massa 
        placerat duis ultricies lacus sed turpis tincidunt id. Est placerat 
        in egestas erat imperdiet sed euismod nisi porta. Congue quisque 
        egestas diam in arcu. Ullamcorper eget nulla facilisi etiam.
    </p>
</div>